<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Messages</title>
</head>
<body>
<h1>Текущий пользователь: [[${senderName}]]</h1>
<h2>Отправка нового сообщения</h2>
<form action="/messages/add" method="POST">
    <label for="textMessage">Текст:</label>
    <input type="text" id="textMessage" name="textMessage" required>

    <input type="submit" value="Отправить">
</form>
<h2>Поиск сообщений</h2>
<form action="/search" method="POST">
    <label for="searchMessages">Введите имя пользователя:</label>
    <input type="text" id="searchMessages" name="searchMessages" required>

    <input type="submit" value="Поиск">
</form>
</body>
</html>

